@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@font-face {
    font-family: "Modern Negra";
    src: url("/fonts/Modern Negra Demo.ttf") format("truetype");
}

@theme {
    --color-yellow: #e7d393;
    --color-white-100: #efefef;
    --font-sans: "Mona Sans", sans-serif;
    --font-modern-negra: "Modern Negra", sans-serif;
    --font-serif: "DM Serif Text", serif;
}

html,
body {
    width: 100%;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility col-center {
    @apply flex flex-col justify-center items-center;
}

@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility text-gradient {
    background: linear-gradient(to bottom, #ffffff, #898989);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@utility radial-gradient {
    background: radial-gradient(
            circle at center,
            #434343 0%,
            #000 50%,
            transparent 100%
    );
}

@utility masked-img {
    mask-image: url("/images/mask-img.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 50%;
}

@layer components {
    main {
        @apply w-full overflow-x-hidden;
    }

    nav {
        @apply z-50 fixed w-full;

        div {
            @apply flex md:flex-row flex-col md:justify-between items-center gap-5 mx-auto px-5 lg:px-0 py-5 container;
        }

        p {
            @apply -mb-2 font-modern-negra text-3xl;
        }

        a {
            @apply text-sm md:text-base text-nowrap cursor-pointer;
        }

        ul {
            @apply flex-center gap-7 lg:gap-12;
        }
    }

    .noisy {
        @apply absolute inset-0 size-full bg-[url("/images/noise.png")];
    }

    #hero {
        @apply z-10 relative border border-transparent w-full min-h-dvh;

        h1 {
            @apply mt-40 md:mt-32 font-modern-negra md:text-[20vw] text-8xl text-center leading-none;
        }

        .left-leaf {
            @apply absolute left-0 md:top-20 xl:top-36 2xl:top-52 md:bottom-auto -bottom-20 md:w-fit w-1/3;
        }

        .right-leaf {
            @apply absolute right-0 md:bottom-0 xl:top-0 2xl:top-12 top-1/2 md:w-fit w-24;
        }

        .body {
            @apply container mx-auto absolute left-1/2 -translate-x-1/2 lg:bottom-20 top-auto md:top-[30vh] flex justify-between items-end px-5;

            .content {
                @apply flex lg:flex-row flex-col justify-between items-center lg:items-end gap-10 mx-auto w-full;

                p:nth-of-type(2) {
                    @apply max-w-xl font-modern-negra text-yellow text-6xl;
                }

                p:last-of-type {
                    @apply text-center 2xl:text-start;
                }

                .view-cocktails {
                    @apply space-y-5 w-full lg:max-w-2xs md:max-w-xs text-lg;

                    p {
                        @apply text-left;
                    }

                    a {
                        @apply opacity-80 font-semibold hover:text-yellow text-center 2xl:text-start;
                    }
                }
            }
        }
    }

    video {
        @apply w-full md:h-[80%] h-1/2 absolute bottom-0 left-0 md:object-contain object-bottom object-cover;
    }

    #cocktails {
        @apply relative w-full min-h-dvh overflow-hidden;

        #c-left-leaf {
            @apply absolute left-0 md:bottom-0 md:top-auto -top-20 md:w-fit w-1/3;
        }

        #c-right-leaf {
            @apply absolute right-0 md:bottom-0 md:top-auto -top-20 md:w-fit w-1/3;
        }

        .list {
            @apply z-10 relative flex md:flex-row flex-col justify-between items-start gap-20 mx-auto px-5 2xl:px-0 pt-40 container;

            .popular {
                @apply space-y-8 w-full md:w-fit;
            }

            .loved {
                @apply space-y-8 pb-20 md:pb-0 w-full md:w-fit;
            }

            h2 {
                @apply font-medium text-xl;
            }

            ul {
                @apply space-y-8;

                li {
                    @apply flex justify-between items-start;

                    h3 {
                        @apply font-modern-negra text-yellow text-xl 2xl:text-3xl;
                    }

                    p {
                        @apply text-sm;
                    }

                    span {
                        @apply font-medium text-xl;
                    }
                }
            }
        }
    }

    #about {
        @apply mx-auto px-5 2xl:px-0 py-28 min-h-screen container;

        .content {
            @apply gap-5 grid grid-cols-1 lg:grid-cols-12;

            h2 {
                @apply max-w-lg font-modern-negra text-5xl md:text-6xl;
            }

            .sub-content {
                @apply flex flex-col justify-between space-y-5 md:col-span-4;

                p {
                    @apply text-lg;
                }

                div {
                    @apply flex flex-col justify-between gap-5 md:gap-2;

                    span {
                        @apply font-bold text-yellow text-5xl;
                    }
                }
            }
        }

        .badge {
            @apply inline-block bg-white mb-8 px-4 py-2 rounded-full font-medium text-black text-sm;
        }

        .top-grid {
            @apply gap-5 grid grid-cols-1 xl:grid-cols-12 mb-5 px-5 md:px-0;

            > div {
                @apply relative rounded-3xl h-72 overflow-hidden;
            }

            img {
                @apply w-full h-full object-cover;
            }
        }

        .bottom-grid {
            @apply gap-5 grid grid-cols-1 md:grid-cols-12 px-5 md:px-0;

            > div {
                @apply relative rounded-3xl h-72 overflow-hidden;
            }

            img {
                @apply w-full h-full object-cover;
            }
        }
    }

    #art {
        @apply relative flex-col flex-center mt-20 p-5 min-h-dvh radial-gradient;

        h2 {
            @apply relative mb-8 font-modern-negra text-[#505050] md:text-[20vw] text-8xl text-center text-nowrap leading-none;
        }

        .content {
            @apply flex md:flex-row flex-col justify-between gap-10 mt-40 md:mt-0 md:mb-16;
        }

        .cocktail-img {
            @apply md:w-[60vw] w-full h-[50vh] md:h-[70vh] rounded-4xl overflow-hidden absolute top-0 md:top-1/2 md:-translate-y-1/2 left-1/2 -translate-x-1/2;
        }

        .masked-container {
            h2 {
                @apply mt-32 mb-10 font-modern-negra text-white text-4xl md:text-5xl text-center;
            }

            div {
                @apply opacity-0 md:px-0 px-5 space-y-5 absolute md:bottom-5 bottom-52 left-1/2 -translate-x-1/2;

                h3 {
                    @apply w-80 md:w-full font-serif text-white text-2xl md:text-5xl text-center;
                }

                p {
                    @apply text-lg text-center;
                }
            }
        }
    }

    #menu {
        @apply relative mt-0 md:mt-40 px-5 2xl:px-0 py-20 w-full radial-gradient;

        #m-left-leaf {
            @apply object-contain absolute -bottom-20 left-0 md:w-fit w-1/3;
        }

        #m-right-leaf {
            @apply object-contain absolute -top-40 right-0 md:w-fit w-1/4;
        }

        .cocktail-tabs {
            @apply z-10 relative gap-10 md:gap-20 grid grid-cols-2 md:grid-cols-4 md:mx-auto mb-20 sm:mb-32 md:max-w-6xl;

            button {
                @apply pb-2 hover:border-yellow border-b-1 font-modern-negra hover:text-yellow text-xl md:text-3xl transition-colors cursor-pointer;
            }
        }

        .content {
            @apply relative flex flex-col justify-between items-center mx-auto container;

            .arrows {
                @apply absolute flex justify-between items-center w-full;

                button {
                    @apply max-w-36 text-white hover:text-yellow transition-colors cursor-pointer;

                    span {
                        @apply hidden md:block font-modern-negra text-3xl leading-none;
                    }
                }
            }
        }

        .cocktail {
            @apply flex-center mt-10;

            img {
                @apply h-[60vh] object-contain;
            }
        }

        .recipe {
            @apply bottom-0 lg:absolute flex max-md:flex-col justify-between md:items-center gap-10 w-full;

            .info {
                @apply space-y-4 lg:translate-y-20;

                #title {
                    @apply max-w-40 font-modern-negra text-yellow text-3xl md:text-6xl;
                }
            }

            .details {
                @apply space-y-5 md:max-w-md text-left;

                h2 {
                    @apply font-serif text-3xl md:text-5xl;
                }

                p {
                    @apply pe-5 md:text-lg;
                }
            }
        }
    }

    #contact {
        @apply relative mt-0 md:mt-20 px-4 w-full overflow-hidden text-center radial-gradient;

        #f-left-leaf {
            @apply absolute bottom-0 left-0 pointer-events-none lg:w-fit w-1/3;
        }

        #f-right-leaf {
            @apply hidden lg:block top-0 right-0 absolute pointer-events-none;
        }

        .content {
            @apply flex flex-col justify-between gap-10 mx-auto py-16 lg:py-14 2xl:py-32 min-h-dvh container;

            h2 {
                @apply font-modern-negra text-5xl lg:text-6xl 2xl:text-8xl translate-y-5 md:translate-y-0;
            }

            h3 {
                @apply mb-2 text-base xl:text-base 2xl:text-lg uppercase;
            }

            p {
                @apply text-sm lg:text-2xl 2xl:text-3xl;
            }
        }

        .drink-img {
            @apply absolute bottom-0 right-0 lg:w-96 w-1/3 pointer-events-none;
        }
    }
}